<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Loja virtual do São Paulo Futebol Clube!
    </mat-card-subtitle>

    <mat-card-content class="pai">
        <mat-card-content class="content mat-elevation-z4">
            <span>Camiseta 1 SPFC</span> 
            <img src="../../../assets/camisa1.jpg" alt="camisa1">
        </mat-card-content>
        <mat-card-content class="content mat-elevation-z4">
            <span>Camiseta 2 SPFC</span>
            <img src="../../../assets/camisa2.jpg" alt="camisa2">
        </mat-card-content>
    </mat-card-content>
</mat-card>