.sidenav {
    width: 200px;
    background-color: #f5f5f5;
}

.sidenav a {
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: white;
}